<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/stylesheets/style.css">
</head>

<body>
    <h1>Face Authentication WebApp</h1>
    <div class="container">
        <div class="para">Hello and welcome to the Face Recognition app Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aliquid enim repellat itaque at, cupiditate quas quibusdam ipsa fugiat esse accusantium,
            cumque iusto magni? Dolorum voluptatum perferendis fugiat enim error iure?</div>


        <div class="btn">
            <form action="/face">
                <input type="submit" , value="Authenticate" , class="auth">
            </form>
        </div>

    </div>
</body>

</html>